.GroceryList {
  padding: 10px;
  height: 100%;
  padding-bottom: 64px;
}

.IconWrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CustomIcon {
  font-size: 5em !important;
}

.EditButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
